<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <section class="text-center mt-20 px-4">
        <h1 class="text-5x1 font-extrabold text-blue-600 mb-5">Jack Carthew</h1>
        <p class="text-lg text-gray-700 max-w-xl mx-auto">
          Full-Stack Dev | Building apps with every framework under the sun
        </p>
        <a routerLink="/projects" class="inline-block mt-6 px-6 py-3 bg-blue-600 text-white font-medium rounded hover:bg-blue-700 transition">
          View My Work
        </a>
      </section>
  </body>
  <footer>

  </footer>
</html>

  